@import 'tailwindcss';

@theme {
    --color-primary-light: #fbcfe8;
    --color-primary: #ec4899;
    --color-primary-dark: #be185d;
    --color-secondary: #64748b;
    --color-accent: #f59e0b;

    --font-family-sans: 'Inter', sans-serif;
}

@plugin '@tailwindcss/forms';

@layer components {
    .action-button {
        @apply flex items-center justify-center text-xs font-medium py-2 px-3 rounded-md shadow-sm transition-colors duration-150 disabled:opacity-60 w-full text-center;
    }
}

body {
    @apply bg-gray-100 text-gray-800 antialiased;
}